[submodule "exercises/tensorflow-waves/waves"]
	path = exercises/tensorflow-waves/waves
	url = https://github.com/alex-epp/waves/
[submodule "exercises/mnist/react-app/build"]
	path = exercises/mnist/react-app/build
	url = https://github.com/alex-epp/mnist-website
